.half
  =form_for @user do |f|
    %fieldset.fieldset
      %legend Create new user:
      =f.label :name
      =f.text_field :name, autofocus: true
      =f.label :role
      =f.select :role, options_for_select(User::ROLES)
      =f.label :email
      =f.email_field :email
      =f.label :password
      =f.password_field :password
      =f.label :password_confirmation
      =f.password_field :password_confirmation
      =f.submit class: "button"