%tr.nopadding
  %td=f.text_field :code, class: "nomargin"
  %td=f.text_field :name, class: "nomargin"
  %td=f.text_field :group, class: "nomargin"
  %td=f.text_area :description, class: "nomargin"
  %td=f.number_field :average_downtime, class: "nomargin"
  %td=f.number_field :frozen_period, class: "nomargin"
  %td=f.number_field :minimal_setup, class: "nomargin"
  %td=f.text_field :setup_reduction_type, class: "nomargin"
  %td=f.number_field :average_setup, class: "nomargin"
  %td=f.number_field :average_speed, class: "nomargin"
  %td=f.number_field :max_deviation, class: "nomargin"
  %td=f.submit class: "button tiny nomargin"