%a{href: "/workcenters", class: "workcenters button", title: "Workcenters"}
  Workcenters
%a{href: "/upload", class: "upload button", title: "Upload"}
  Upload
- if current_user.admin
  =link_to 'Users', users_path, class: "users button"
