-# navigation styled for Zurb Foundation 5
%nav.top-bar
  .top-bar-section
    %ul{class: "menu align-right"}
      = render 'layouts/navigation_links'
  .top-bar-right
    %ul{class: "vertical menu accordion-menu", data: {accordion: {menu: true}}}
      %li{aria: {expanded: false}}
        =link_to current_user.name, logout_path, method: :delete, class: "secondary button"


  
